/* stylelint-disable selector-list-comma-newline-after */
@font-face {
  font-family: Bahnschrift;
  src: url(assets/fonts/Bahnschrift.TTF);
}
body{
  font-family: Bahnschrift;
}
@media (min-width: 1200px){
  .container {
      max-width: 1280px;
  }
}
@media (min-width: 1367px){
  .container {
      max-width: 1440px;
  }
}
.nav-scroller .nav{
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 6px;
}
.nav-scroller .nav a{
  color: #000;
  font-size: 14px;
}
.nav-scroller .nav a:first-child{
  padding-left: 0 !important;
}
.nav-scroller .nav a:last-child{
  padding-right: 0 !important;
}
.nav-scroller .nav a.active{
  color:#9f1d29
}
.blog-header-logo img{
    width: 130px;
}
.blogTopHeader{  
  font-weight: 300;
  background: #000;
  font-size: 13px;
  padding: 3px 0;
}
.weatherTxt img{
  vertical-align: text-top;
  margin-left: 5px;
}
.blogTopHeaderBody{
  display: flex;
  justify-content: space-between;
}
.blogTopHeader p{
  margin-bottom: 0;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.sectionHeadingTxt{
  font-size: 30px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.blog-header-logo {
  font-family: "Bahnschrift", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bahnschrift", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  padding: .25rem 0;
  margin-bottom: .5rem;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 6px;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
 .card-text:last-child{
   font-size: 14px;
 }
 /* breakingNewsSection */

 .breakingNewsSection .card{
    border: none;
 }
 .breakingNewsSection .card-body{
   padding: 0;
   margin-top: -90px;
 }
 
.breakingNewsSection .card-img-top{
  width: 100%;
  height: 510px;
  border-radius: 8px;
  object-fit: cover;
}
.breakingNewsSection .card::before{
  content:'';
  height: 510px;
  width: 100%;
  background: rgba(0,0,0,0.3);
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
  transition: all 0.5s ease;
}
.breakingNewsSection .card:hover::before{
  background: rgba(0,0,0,0.7);
}
.breakingNewsSection .card-body{
  z-index: 1;
}
.breakNewsRightBox .card::before{
  height: 300px;
}

.breakNewsRightBox .card-img-top{
  height: 300px;
}
.breakNewsLeftBox h5{
  font-size: 32px;
  padding: 0 20px;
  color: #fff;
}

.breakNewsLeftBox h6{
  font-size: 22px;
  padding: 0 20px;
  margin-bottom: 30px;
  color: #fff;
}

.breakNewsRightBox h5{
  font-size: 18px;
  padding: 0 20px;
  margin-bottom: 5px;
  color: #fff;
}
.breakNewsRightBox p{
  padding: 0 20px 15px;
  color: #ccc;
}
/*End breakingNewsSection */

/* fashionNewsSection */
.fashionNewsSection .breakNewsRightBox  .card-body{
  margin-top: -60px;
}
.fashionNewsSection .breakNewsLeftBox .card::before{
  height: 520px;
}
.fashionNewsSection .breakNewsLeftBox .card-img-top{
  height: 520px;
}
.fashionNewsSection .breakNewsLeftBox p{
  padding: 0 20px;
  color: #ccc;
}
.fashionNewsSection .breakNewsRightBox .card::before{
  height: 250px;
}
.fashionNewsSection .breakNewsRightBox .card-img-top{
  height: 250px;
}
/* End fashionNewsSection */

/*latestNewsSection */
.latestNewsSection .card{
  border: none;
}
.latestNewsSection .card-img-top{
  height: 225px;
  border-radius: 4px; 
  object-fit: cover;
}
.latestNewsSection .card .card-title {
  background: #000;
  display: block;
  padding: 4px 10px;
  width: auto;
  max-width: fit-content;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}
.latestNewsSection .card .card-title.pinkBg {
  background: #ea4644;
}
/*End latestNewsSection */

/* categoriesSection */

.categoriesSection .card{
  border: none;
}
.categoriesSection .card .card-title{
  font-weight: 400;
}
.categoriesSection .card .card-img-top{
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}
.categoriesSection .card h5{
  text-decoration: none;
  color: #000;
}
.categoriesSection .card:hover{
  text-decoration: none;
}
/* End categoriesSection */

/* TechnologyNewsSection */

.technologyNewsSection.breakingNewsSection .card-body{
  margin: 5px 0 0;
}
.technologyNewsSection .technologyRightBox .card{
  flex-direction: row;
}
.technologyNewsSection .technologyRightBox .card-img-top{
  width: 50%;
  height: 250px;
}
.technologyNewsSection.breakingNewsSection .card::before{
  display: none;
}
.technologyNewsSection h5,
.technologyNewsSection h6,
.technologyNewsSection p {
  color: #000;  
}
.technologyNewsSection .technologyRightBox h5,
.technologyNewsSection .technologyRightBox h6,
.technologyNewsSection .technologyRightBox p{
  padding: 0 15px 0 0;
}
.technologyNewsSection .technologyRightBox h5,
.technologyNewsSection .technologyRightBox p{
  padding: 10px 15px 0 0;
}
.technologyNewsSection .technologyRightBox h5{
  font-size: 22px;
}
.technologyNewsSection .breakNewsLeftBox h6{
  margin-bottom: 0;
  padding: 15px 0 10px;
}
.technologyNewsSection.breakingNewsSection .breakNewsLeftBox .card-img-top{
  height: 300px;
}
/* End TechnologyNewsSection */

/* Start sportsNewsSection */
.sportsNewsSection .breakNewsRightBox .card-body{
  margin-top: 0;
  position: relative;
}
.sportsNewsSection .breakNewsRightBox h5{
  position: absolute;
  bottom: 10px;
}
.sportsNewsSection .breakNewsRightBox .card-img-top {
  height: 247px;
}
.sportsNewsSection .breakNewsRightBox .card::before {
  height: 247px;
}
/* End sportsNewsSection */

/* Start travelNewsSection */
.travelNewsSection .card-text:last-child span+span{
  margin-left: 20px;
}
.travelNewsSection .card-body{
  position: absolute;
  width: -webkit-fill-available;
  bottom: 0;
  margin: 0 15px;
  z-index: 1;
}
.travelNewsSection .card .card-title,
.travelNewsSection .card .card-title.pinkBg{
  padding: 0;
  background: transparent;
  font-weight: 600;
  color: #fff;
}
.travelNewsSection .card p{
  color: #fff;
}
.travelNewsSection .card::before {
  content: '';
  height: 500px;
  width: 100%;
  background: rgba(0,0,0,0.3);
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
  transition: all 0.5s ease;
}
.travelNewsSection .card:hover::before{
  background: rgba(0,0,0,0.7);
}
.travelNewsSection .card-img-top {
  height: 500px;
}
/* End travelNewsSection */

/* start FoodNewsSection */
.FoodNewsSection .card-img-top {
  height: 350px;
}

.FoodNewsSection .card::before {
  content: '';
  height: 350px;
}

/* End FoodNewsSection */

.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0 15px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.blog-footer img{
  width: 100px;
}
.socialConnection{
  display: flex;
  justify-content: flex-end;
}
.socialConnection p{
  padding-right:10px ;
}
.socialConnection a{
  padding: 0 10px;
}
.socialConnection img{
  width: 24px;
}
.blog-footer ul{
  padding: 0;
  list-style: none;
}
.blog-footer-link{
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.blog-footer-link li a{
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}
.blog-footer-link h5{
  padding-bottom: 10px;
}
.blog-footer-link li{
  padding: 6px 0; 
  opacity: 0.6;
}
.blog-footer-link li:hover{
  opacity: 1;
}
/*=========================================================
	News list page
===========================================================*/
/*----------------------------*\
	post
\*----------------------------*/
.post {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.post .post-img {
  display: block;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
.post .post-img:hover, .post .post-img:focus {
  opacity: 0.9;
}
.post .post-img > img {
  width: 300px;
  height: 180px;
  object-fit: cover;
}
.post .post-meta {
  margin-top: 15px;
  margin-bottom: 15px;
}
.post-meta .post-category {
  font-size: 13px;
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: 600;
  border-radius: 2px;
  margin-right: 15px;
  color: #FFF;
  background-color: #212631;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
.post-meta .post-category:hover, .post-meta .post-category:focus {
  text-decoration: none;
  opacity: 0.9;
}
.post-meta .post-category.cat-1 {
  background-color: #4BB92F;
}
.post-meta .post-category.cat-2 {
  background: #ea4644;
}
.post-meta .post-category.cat-3 {
  background-color: #8d00ff;
}
.post-meta .post-category.cat-4 {
  background-color: #0078ff;
}
.post-meta .post-date {
  font-size: 13px;
  font-weight: 600;
}
.post .post-title {
  font-size: 18px;
  margin-bottom: 0px;
}
.post-tags li {
  display:inline-block;
  margin-right:3px;
  margin-bottom:5px;
}
.post-tags li a {
  display:block;
  color:#fff;
  background-color: #212631;
  padding:3px 10px;
  font-weight:600;
  border-radius:2px;
  -webkit-transition:0.2s opacity;
  transition:0.2s opacity;
}
.post.post-thumb {
  position: relative;
}
.post.post-thumb .post-img:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 38, 49, 0.3)), to(transparent));
  background: linear-gradient(to top, rgba(33, 38, 49, 0.3) 0%, transparent 100%);
}
.post.post-thumb .post-body {
  position: absolute;
  bottom: 0px;
  padding: 20px 15px;
}
.post.post-thumb .post-meta .post-date {
  color: #eceef2;
}
.post.post-thumb .post-title {
  font-size: 22px;
}
.post.post-thumb .post-title > a {
  color: #FFF;
}
/*----------------------------*\
post widget
\*----------------------------*/
.post.post-widget:after {
  content: '';
  display: block;
  clear: both;
}
.post.post-widget .post-img {
  width: 70px;
  float: left;
  margin-right: 15px;
}

.post.post-widget .post-body {
  width: 70%;
}

.post.post-widget .post-img img {
  /* width: 100%; */
}
.post.post-widget .post-title {
  font-size: 18px;  
}
.post.post-widget .post-title a{
  color: #000;
  font-size: 15px;
}
.post.post-widget a img{
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.post.post-row:after {
     content: '';
     display: block;
     clear: both;
}
 .post.post-row .post-img {
     width: 35%;
     float: left;
     overflow: hidden;
}
 .post.post-row .post-body {
     width: 65%;
}
.post.post-row .post-body .post-title  a{
  color: #000;
}
 .post.post-row .post-meta {
     margin-top: 0px;
}
 .post.post-row .post-title {
     margin-bottom: 15px;
}
.loadMoreBtn {
  padding: 9px 45px;
  border: none;
  background-color: #212631;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.post-detail-head {
  font-size: 48px;
  margin-bottom: 20px;
}

.post-source {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.post-source a {
  color: #ea4644;
}

.post-source ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

.post-source ul a {
  margin: 0 5px;
}

.post-info h4 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.post-info p {
  margin-bottom: 25px;
}

.side-list {
  position: sticky;
  top: 30px;
  margin-bottom: 30px;
}

.control-link {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.control-link a {
  color: #dd3725;
  width: 350px;
  max-width: 100%;
  position: relative;

}

.control-link a.prev {
  padding-left: 45px;
  padding-right: 10px;
}

.control-link a.next {
  padding-right: 45px;
  padding-left: 10px;
}

.control-link a.prev::before, .control-link a.next::before {
  content: '';
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  width: 9px;
  height: 9px;
  left: 16px;
  top: 50%;
  z-index: 9;
  transform: rotate(45deg) translate(-50%, -30%);
}

.control-link a.prev::after, .control-link a.next::after {
  content: '';
  background: #dd3725;
  width: 35px;
  height: 35px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}

.control-link a.next::before {
  left: auto;
  right: 15px;
  transform: rotate(225deg) translate(40%, 40%);
}

.control-link a.next::after {
  left: auto;
  right: 0;
}

.post-comment {
  border: 0;
}

.post-comment h2 {
  font-size: 28px;
  border-bottom: 2px solid #212529;
  padding-bottom: 5px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.user-info a {
  color: #ea4644;
}

.user-info span.text-secondary {
  font-size: 12px;
  color: #aaa !important;
  margin-left: 10px;
}

.user-info ul {
  padding: 0;
  list-style: none;
  font-size: 36px;
  line-height: 13px;
  display: flex;
  margin-bottom: 0;
  letter-spacing: 0px;
  color: #aaa;
}

.c-grey {
  color: #bbb;
}

.no-border {
  border: 0;
}

.brdr-bottom {
  border-bottom: 1px solid #ddd;
}

.post-comments {
  margin: 20px 0;
}

.post-comments h2 {
  font-size: 28px;
  border-bottom: 2px solid #212529;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.post-comments input, .post-comments textarea {
  margin-bottom: 20px;
  height: 50px;
  border-radius: 0;
  padding-top: 8px;
}

.post-comments textarea {
  height: 250px;
  resize: none;
}

.card-inner {
  padding: 25px 0;
}

.post-video {
  width: 35%;
  padding-right: 50px;
  position: relative;
  overflow: hidden;
}

.post-video video {
  width: 300px;
  height: 180px;
  max-width: 100%;
  vertical-align: top;
  object-fit: cover;
}

.post-video::before {
  content: '';
  position: absolute;
  background: url(../imgs/play-button.png);
  width: 45px;
  height: 45px;
  left: 50%;
  top: 50%;
  transform: translate(-90%,-50%);
  background-size: 45px;
}

.post.post-widget .post-video {
  width: 70px;
  height: 70px;
  padding-right: 0;
  margin-right: 15px;
}

.post.post-widget .post-video::before {
  width: 20px;
  height: 20px;
  background-size: 20px;
  transform: translate(-50%,-50%);
}

.post.post-widget .post-video video {
  width: 100%;
  height: 100%;
}

.post-video-details {
  position: relative;
  width: 100%;
  display: inline-block;
  height: 500px;
  overflow: hidden;
  margin-bottom: 15px;
}

.post-video-details::before, .play-video.post-video-details::before {
  content: '';
  position: absolute;
  background: url(../imgs/play-button.png);
  width: 72px;
  height: 72px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-size: 72px;
}

.post-video-details video {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.play-video.post-video-details::before {
  background: url(../imgs/pause-button.png);
  background-size: 72px;
}

@media (max-width: 640px) {
  .nav {
    height: auto;
  }

  .nav > ul {
    position: absolute;
    left: 0;
    height: auto;
    flex-direction: column;
    width: 100%;
    top: 100%;
    background: #2c3134;
    padding: 10px;
    display: none;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: height 0.6s ease;
  }

  .nav > ul > li {
    display: block;
  }

  .nav ul li a {
      font-size: 16px;
      margin: 0;
      display: inline-block;
      padding: 10px 15px;
      width: 100%;
  }
  .post-detail-head {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .blog-footer-link{
    flex-wrap: wrap;
  }
  .blog-footer ul{
    width: 100%;
  }
  .blog-footer .col-6:first-child{
    max-width: 40%;
    flex: 40%;
  }
  .socialConnection{
    flex-wrap: wrap;
    justify-content: end;
  }
  .socialConnection p{
    width: 100%;    
    padding: 0 0 10px;
  }
  .blog-footer .col-6{
    max-width: 60%;
    flex: 60%;
  }
  .latestNewsSection .card {
    border: none;
    margin-bottom: 20px;
  }
  .technologyNewsSection .technologyRightBox .card{
    flex-direction: column;
  }
  .technologyNewsSection .technologyRightBox .card-img-top{
    width: 100%;
    height: 250px;
    margin-top: 15px;
  }
  .breakNewsLeftBox h5{
    font-size: 18px;
  }
  .blogTopHeaderBody{
    flex-wrap: wrap;
  }
  .post-video{
    width: 100%;
    padding-right: 0;
    margin-bottom: 15px;
  }
  .post-video video{
    width: 100%;
  }
  .post.post-row .post-img{
    width: 100%;
    float: none;    
    margin-bottom: 15px;
  }
  .post .post-img > img{
    width: 100%;
  }
  .sectionHeadingTxt{
    padding: 0 15px;
  }
  .control-link a{
    font-size: 11px;
  }
  .blog-header-logo img {
    width: 90px;
  }
  .weatherTxt{
    font-size: 14px;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .icon .one,
  .icon .two,
  .icon .three{
      width: 35px;
      height: 5px;
      background-color: #000;
      margin: 6px 0 6px auto;
  }
  .nav > ul{
      display: flex;
      list-style: none;
      height: 0;
      padding: 0;
      z-index: 2;
      background: #2c2c2c;
  }
  .nav.responsive > ul{
      height: 453px;
  }
  .nav-scroller{
    height: auto;
  }
  .nav-scroller .nav{
    height: 0;
    transition: all 0.6s ease;
  }
  .nav-scroller.responsive .nav{
    height: 240px;
  }
  #nav-menu-box.nav-scroller .nav a{
    width: 100%;
    display: block;
    text-align: left;
    padding: .25rem 1rem !important;
    font-size: 16px;
  }
  .nav-scroller.responsive .nav a{
    padding: .25rem 1rem !important;
  }
  .nav-scroller .nav{
    flex-wrap: wrap;
  }
  .nav-scroller .nav div{
    width: 100%;
  }
}
